{% load  static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
        <!-- site metas -->
        <title>Jean-tex chemical</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!-- bootstrap css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}" />
        <!-- style css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}" />
        <!-- Responsive-->
        <link rel="stylesheet" href="{% static 'css/responsive.css'%}" />
        <!-- fevicon -->
        <link rel="icon" href="{% static 'images/fevicon.png'%}" type="image/gif" />
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}" />
        <!-- Tweaks for older IEs-->
        <link
            rel="stylesheet"
            href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
        />
        <!-- owl stylesheets -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        />
    </head>
    <body>
        <!--header section start -->
        <div class="header_section" style="position: sticky; top: 0; z-index: 20;">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="logo">
                        <a href="index.html">
                            {% for log in logo %}
                            <img
                                style="width: 60px"
                                src="{{ log.image.url }}"
                            />
                            {% endfor %}
                        </a>
                    </div>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-toggle="collapse"
                        data-target="#navbarNav"
                        aria-controls="navbarNav"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#home">Основной</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#about">О нас</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#product">Продукты</a>
                            </li>
                            <li class="nav-item mr-5">
                                <a class="nav-link" href="#contact"
                                    >Связаться с нами</a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'indexuz' %}">UZ |</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'indexru' %}">RU |</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'index' %}">EN |</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--header section end -->
        <!-- banner section start -->
        <div class="banner_section layout_padding" id="home"></div>
        <!-- banner section end -->
        <!-- about section start -->
        <div id="about" class="about_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about_taital_main">
                            <div class="about_taital">О нас</div>
                            <p class="h1 about_text">
                                Более 27 лет опыта в химическом бизнесе.
                            </p>
                            <p class=" h1 about_text">
                                Наша миссия — предоставлять нашим клиентам
                                продукцию, услуги, разработку и применение
                                продукции высочайшего качества.
                            </p>
                            <div class="read_bt"><a href="#">более</a></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about_img">
                            <img
                                style="width: 700px; height: 450px"
                                src="{% static 'images/1.jpg' %}"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="row d-flex justify-content-center">
            <div class="col-3">
                <img src="{% static 'images/2.jpg' %}" alt="">
            </div>
            <div class="col-3">
                <img src="{% static 'images/3.jpeg' %}" alt=""  style="width: 100%; height: 270px;">
            </div>
            <div class="col-3" >
                <img src="{% static 'images/4.jpeg' %}" alt="" style="width: 100%; height: 270px;">
            </div>
        </div>
        <br><br>
        <!-- about section end -->
        <!-- gallery section start -->
        <div id="product" class="gallery_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="gallery_taital">Наши продукты</h1>
                    </div>
                </div>
                <div class="">
                    <div class="gallery_section_2">
                        <div class="row">
                            {% for item in product %}
                            <div class="col-md-4 shadow-lg p-3 mb-5 bg-white rounded">
                                <a href="{{ item.get_absolute_url }}">
                                <div class="container_main">
                                    <h1 class="text-center"><b>{{item.name}}</b></h1>

                                   
                                </div>
                                </a>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- gallery section end -->
        <!-- contact section start -->
        <div id="contact" class="contact_section layout_padding">
            <div class="container">
                <h1 class="contact_text">связаться с нами</h1>
            </div>
        </div>
        <div class="contact_section_2 layout_padding">
            <div class="container-fluid">
                <div class="row">
                    
                       
                    <div class="col-md-12 padding_0">
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2986.8481281541417!2d60.62537417531352!3d41.52923027128213!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41dfc8be1f3ddefb%3A0x2f40ac802b727fe5!2z0YPQu9C40YbQsCDQodCw0L3QvtCw0YLRh9C40LvQsNGALCBVcmdhbmNoLCBYb3Jhem0gVmlsb3lhdGksINCj0LfQsdC10LrQuNGB0YLQsNC9!5e0!3m2!1sru!2s!4v1708581482997!5m2!1sru!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact section end -->
        <!-- footer section start -->
        <div class="footer_section layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <h1 class="useful_text">Contact Us</h1>
                        <div class="location_text">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i
                                            class="fa fa-map-marker"
                                            aria-hidden="true"
                                        ></i
                                        ><span class="padding_left_10"
                                            >Address :Bukhara Sanoatchilar street 2</span
                                        >
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-whatsapp" aria-hidden="true"></i><span class="padding_left_10"
                                            >Call : +90 5346048905</span
                                        >
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-brands fa-google" aria-hidden="true"></i><span class="padding_left_10"
                                            >jeantexchemicals@gmail.com</span
                                        >
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i
                                            class="fa-brands fa-telegram"
                                            aria-hidden="true"
                                        ></i>
                                        <span class="padding_left_10"
                                            >+90(533)2757532</span
                                        >
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i
                                            class="fa-brands fa-instagram"
                                            aria-hidden="true"
                                        ></i>
                                        <span class="padding_left_10"
                                            >+998900043774</span
                                        >
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer section end -->
        <!-- copyright section start -->
        <div class="copyright_section">
            <div class="container">
                <p class="copyright_text">
                    2024 All Rights Reserved. Design by
                    <a href="https://t.me/khamrayevbb">Bobur Khamrayev</a>
                </p>
            </div>
        </div>
        <!-- copyright section end -->
        <!-- Javascript files-->
        <script src="{%static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
        <script src="{% static 'js/plugin.js' %}"></script>
        <!-- sidebar -->
        <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
    </body>
</html>
