{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div class="productDetail">
       
        <div class="aboutProduct">
            <h1 style="font-size: 50px;">{{products_uz.name}}</h1>
            <p>{{products_uz.description_uz}}</p>
        </div>
    </div>
    
</body>
</html>